$black: #000;
$gray: #DEDEDE;
$darkgray: #A0A0A0;
$red: #ec3636;
$lightred: #feeaa0;
$blue: #029EF8;
$white: #ffffff;
$purple: #FFEBEC;
$darkerGray: #E3E3E3;
$titleColor: #7c7b7b;
$textColor: #525151;
$borderColor: #c0bccd;
$searchColor: #575757;
$green: #3dc236;
$darkBlue: #0969fa;
$lightGray: #ededed;